<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</head>
<body>
<img id="test" src="{{ url_for('blue2.video_feed') }}">
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
        setTimeout(function () {
        console.log("开始")
            namespace = '/test';
            var socket = io('http://192.168.137.1:6001' + namespace);

            socket.on('connect', function () {
                socket.emit('my_event', {data: 'true'});
            });
            socket.on('my_response', function (msg, cb) {
                 console.log(msg.data)

            });
            }, 5000);
        });
    </script>
</body>
</html>
